CHATGPT_EMAIL=
CHATGPT_PASSWORD=
CHATGPT_TOTP_SECRET=
CHATGPT_PROXY=http://127.0.0.1:7890
CHATGPT_SENTINEL_TOKEN=
CHATGPT_EMAIL_CHANGE_ENDPOINT=
CHATGPT_EMAIL_CHANGE_METHOD=POST
CHATGPT_EMAIL_CHANGE_VERIFY_ENDPOINT=
